*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Poppins", sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	background-color:#F0FFF0;
}
.header .navbar .navbar-expand-lg{
	font-weight: 500;
	margin: 0px 0px 0px 30px;
	color: #000;
	transition: 1s ease-in;
}
.header .navbar .navbar-expand-lg:hover{
	color: #21B573;
}
.header .navbar .navbar-expand-lg:focus{
	color: #21B573;
}